= link_to adjustment_path(id) do
  .adjustment
    .adjustment__title
      = title
    .adjustment__content
      = content
    .adjustment__image
      写真（もしあれば）
.buttons
  = icon('far', 'thumbs-up', class: "icon")
  = icon('far', 'comment', class: "icon")
