.header
  .header__title
    = link_to "PAY OFF !!", root_path
  = form_tag('/search', method: :get, class: "header__search") do
    %input{type: "search", name: "search", class: "search-field"}
    %button{type: "submit", name: "name", class: "search-button"}
      = icon('fas', 'search', class: "search-icon")
  .header__nav
    = icon('fas', 'pencil-alt', class: "icon")
    = icon('fas', 'calendar-alt', class: "icon")
    = icon('fas', 'home', class: "icon")
    = icon('fas', 'user-circle', class: "icon")
.contents
  .contents__left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
    %div left
  .contents__right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right
    %div right